/**
 * Breakpoints
 *
 * Project: Routard.com
 * Author: We love Mondays
 * Author URI: http://www.welovemondays.fr
 * Version: 1.0
 */

$bp-mobile:  320px  !default;
$bp-tablet:  700px  !default;
$bp-desktop: 1075px  !default;
$bp-wide:    1300px !default;


@mixin media($format) {


  // Formats généraux

  @if $format == mobile {
    @media (max-width: $bp-tablet) { @content; }
  }

  @if $format == tablet {
    @media (min-width : $bp-tablet + 1) and (max-width: $bp-desktop) { @content; }
  }

  @if $format == desktop {
    @media (min-width : $bp-desktop + 1) and (max-width: $bp-wide) { @content; }
  }

  @if $format == wide {
    @media (min-width : $bp-wide + 1) { @content; }
  }


  // Formats "plus petits que"

  @if $format == lt-tablet {
    @media (max-width: $bp-tablet) { @content; }
  }

  @if $format == lt-desktop {
    @media (max-width: $bp-desktop) { @content; }
  }

  @if $format == lt-wide {
    @media (max-width: $bp-wide) { @content; }
  }


  // Formats "plus grand que"

  @if $format == gt-mobile {
    @media (min-width: $bp-tablet + 1) { @content; }
  }

  @if $format == gt-tablet {
    @media (min-width: $bp-desktop + 1) { @content; }
  }

  @if $format == gt-desktop {
    @media (min-width: $bp-wide + 1) { @content; }
  }


}

