
// gallery //


.gallery {

    .content-gallery {
        display: block;
        margin: 0 auto;
        width: 100%;
        clear: both;
    }

    .box-team {
        width: calc(100% - 20px);
        display: block;
        float: left;
        margin: 10px;
    }


    figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px;
        width: calc(100% - 10px);
        max-height: auto;
        background: $blue;
        text-align: center;

        &:hover {

            img {
                opacity: 0.4;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

            p {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }

            h2 {
                transform: translate3d(0,0,0);
            }

            h2:after {
                transform: translate3d(0,0,0);
            }
        }

        figcaption {
            backface-visibility: hidden;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            padding: 1em;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.25em;
        }

        img {
            width: 100%;

            max-width: none;
            width: -webkit-calc(100% + 20px);
            width: calc(100% + 20px);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(-10px,0,0);
            transform: translate3d(-10px,0,0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        h2 {
            position: relative;
            overflow: hidden;
            padding-bottom: 10px;
            font-size: 19px;

            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);

            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background: #fff;
                content: '';
                -webkit-transition: -webkit-transform 0.35s;
                transition: transform 0.35s;
                -webkit-transform: translate3d(-100%,0,0);
                transform: translate3d(-100%,0,0);
            }
        }

        p {
            color: #fff;
            text-align: right;
            padding: 1em 0;
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
        }
    }
}

@include media(gt-mobile){

    .gallery {

        .title ~ p {
            margin-left: 335px;
        }

    .button.secondary:hover {
        margin-left:300px;
    }

        .box-team {
            width: calc(33% - 20px);
            height: 367px;
        }

        .button {
            margin: 0px 0 35px 270px;
            clear: both;
            float: left;
        }

        figure {
            width: calc( 50% - 20px );

            figcaption {
                padding: 2em;
            }
        }
    }
}

@media screen and (min-width: 470px) and (max-width: 850px){

    .gallery {

        .box-team {
            width: calc(50% - 20px);
        }
    }
}

